.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  margin-right: 15px;
}
.search {
  margin: 20px 0px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
}
.rescard {
  width: 175px;
  padding: 5px;
}
.rescard:hover {
  border: 1px solid black;
  filter: hover;
}
.rescard .card-image {
  width: 100%;
  height: 25%;
}
