.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.logo {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}
.nav-items > ul > li {
  padding-right: 10px;
}
.search{
    margin: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
}
.rescard {
  width: 200px;
  padding: 5px;
  margin: 5px;
  border-radius: 25px;
}
.rescard:hover{
  border: 1px solid black;
}
.Image{
    width: 100%;
    border-radius: 25px;
}
